@model LaundryMS_AD2.Models.UserModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Create</h1>

<h4>UserModel</h4>
<hr />
<div class="container-fluid">
    <div class="">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group row">
                        <label asp-for="UserID" class="col-md-1 col-form-label col-form-label-md"></label>
                        <div class="col-11">
                            <input asp-for="UserID" class="form-control form-control-md text-black" value="@ViewBag.NewID" style="background-color:aqua" readonly />
                            <span asp-validation-for="UserID" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group row">
                        <label asp-for="fName" class="col-md-2 col-form-label col-form-label-md"></label>

                        <div class="col-10">
                            <input asp-for="fName" class="form-control" />
                            <span asp-validation-for="fName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="form-group row">
                        <label asp-for="lName" class="col-md-2 col-form-label col-form-label-md"></label>

                        <div class="col-10">
                            <input asp-for="lName" class="form-control" />
                            <span asp-validation-for="lName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">

                    <div class="form-group row">
                        <label asp-for="Gender" class="col-md-2 col-form-label col-form-label-md"></label>

                        <div class="col-10">
                            <select asp-for="Gender" class="form-control">
                                <option value="">--Select a Gender--</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col">

                    <div class="form-group row">
                        <label asp-for="DoB" class="col-md-2 col-form-label col-form-label-md"></label>

                        <div class="col-10">
                            <input asp-for="DoB" class="form-control" />
                            <span asp-validation-for="DoB" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-row">
                <div class="col">

                    <div class="form-group row">
                        <label asp-for="NIC" class="col-md-2 col-form-label col-form-label-md"></label>

                        <div class="col-10">
                            <input asp-for="NIC" class="form-control" />
                            <span asp-validation-for="NIC" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <div class="form-group row">
                        <label asp-for="Email" class="col-md-2 col-form-label col-form-label-md"></label>

                        <div class="col-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="form-row">
                <div class="col">

                    <div class="form-group row">
                        <label asp-for="Address" class="col-md-1 col-form-label col-form-label-md"></label>

                        <div class="col-11">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="col">

                    <div class="form-group row">
                        <label asp-for="Contact" class="col-md-2 col-form-label col-form-label-md"></label>

                        <div class="col-10">
                            <input asp-for="Contact" class="form-control" />
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="col">


                    <div class="form-group row">
                        <label asp-for="Role" class="col-md-2 col-form-label col-form-label-md"></label>

                        <div class="col-10">
                            @Html.DropDownListFor(model => model.Role, ViewBag.Roles as SelectList, "--Select Employee Role--", new { @class = "form-control" })

                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">

                    <div class="form-group row">
                        <label asp-for="Branch" class="col-md-2 col-form-label col-form-label-md"></label>

                        <div class="col-10">
                            <input asp-for="Branch" class="form-control" />
                            <span asp-validation-for="Branch" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col">


                    <div class="form-group row">
                        <label asp-for="Password" class="col-md-2 col-form-label col-form-label-md"></label>

                        <div class="col-10">
                            <input asp-for="Password" class="form-control" />
                            <div class="form-check-inline pl-2">
                                <input type="checkbox" class="form-check-input" id="PassVisible">
                                <label class="form-check-label">Password visible</label>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">


                    <div class="form-group row">
                        <label asp-for="Status" class="col-md-2 col-form-label col-form-label-md"></label>

                        <div class="col-10">
                            <select asp-for="Status" class="form-control">
                                <option value="">--Select User Status--</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>


                </div>
                <div class="col"></div>
            </div>
            <div class="form-row mt-5">
                <div class="col">

                </div>
                <div class="col">
                    @*<input type="submit" value="Save" class="btn-block btn-primary form-control" />*@
                    <input type="submit" value="Create" class="btn-block btn-primary form-control" />
                    
                </div>
                <div class="col mt-2">
                    <a asp-action="Index" class="pl-5">Back to List</a>

                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
