@model LaundryMS_AD2.Models.OrderModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Create</h1>

<h4>OrderModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderID" class="control-label"></label>
                <input asp-for="OrderID" class="form-control" />
                <span asp-validation-for="OrderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderCusID" class="control-label"></label>
                <input asp-for="OrderCusID" class="form-control" />
                <span asp-validation-for="OrderCusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderApprvdBy" class="control-label"></label>
                <input asp-for="OrderApprvdBy" class="form-control" />
                <span asp-validation-for="OrderApprvdBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTotQty" class="control-label"></label>
                <input asp-for="OrderTotQty" class="form-control" />
                <span asp-validation-for="OrderTotQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTotAmnt" class="control-label"></label>
                <input asp-for="OrderTotAmnt" class="form-control" />
                <span asp-validation-for="OrderTotAmnt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDelivery" class="control-label"></label>
                <input asp-for="OrderDelivery" class="form-control" />
                <span asp-validation-for="OrderDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDeliveryAddress" class="control-label"></label>
                <textarea asp-for="OrderDeliveryAddress" class="form-control"></textarea>
                <span asp-validation-for="OrderDeliveryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDescr" class="control-label"></label>
                <textarea asp-for="OrderDescr" class="form-control"></textarea>
                <span asp-validation-for="OrderDescr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatus" class="control-label"></label>
                <input asp-for="OrderStatus" class="form-control" />
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
