@model LaundryMS_AD2.Models.OrderListModel;
@{
    ViewData["Title"] = "ProductView";
    Layout = "~/Views/Shared/_Presentation_Layout.cshtml";
}

<div class="container">
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="images/product-details/1.jpg" alt="" />
            </div>
            <div id="similar-product" class="carousel slide" data-ride="carousel">

     
                <!-- Controls -->
                <a class="left item-control" href="#similar-product" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right item-control" href="#similar-product" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <form action="/" method="post">
                    <!--/product-information-->
                    <img src="images/product-details/new.jpg" class="newarrival" alt="" />
                    <h2>Anne Klein Sleeveless Colorblock Scuba</h2>
                    <p>Web ID: 1089772</p>
                    <img src="images/product-details/rating.png" alt="" />
                    <span>
                        <span>@Html.DisplayTextFor(i=>i.OrdPkgUP)</span>

                    </span>
                    <p><b>Availability:</b> In Stock</p>
                    <p><b>Condition:</b> New</p>
                    <p><b>Brand:</b> E-SHOPPER</p>
                    <label>Quantity:</label>
                    <input asp-for="OrdPrQty"/><br /><br />
                    <button type="submit" class="btn btn-fefault cart">
                        <i class="fa fa-shopping-cart"></i>
                        Add to cart
                    </button>
                </form>
                </div><!--/product-information-->
        </div>
    </div>
</div><!--/product-details-->