@model LaundryMS_AD2.Models.OrderListModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Create</h1>

<h4>OrderListModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderID" class="control-label"></label>
                <input asp-for="OrderID" class="form-control" />
                <span asp-validation-for="OrderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdPrID" class="control-label"></label>
                <input asp-for="OrdPrID" class="form-control" />
                <span asp-validation-for="OrdPrID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdPrQty" class="control-label"></label>
                <input asp-for="OrdPrQty" class="form-control" />
                <span asp-validation-for="OrdPrQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdPrAmnt" class="control-label"></label>
                <input asp-for="OrdPrAmnt" class="form-control" />
                <span asp-validation-for="OrdPrAmnt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdPkg" class="control-label"></label>
                <input asp-for="OrdPkg" class="form-control" />
                <span asp-validation-for="OrdPkg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdListStatus" class="control-label"></label>
                <input asp-for="OrdListStatus" class="form-control" />
                <span asp-validation-for="OrdListStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
