@model LaundryMS_AD2.Models.CustomerModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>CustomerModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CusID" />
            <div class="form-group">
                <label asp-for="CusfName" class="control-label"></label>
                <input asp-for="CusfName" class="form-control" />
                <span asp-validation-for="CusfName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuslName" class="control-label"></label>
                <input asp-for="CuslName" class="form-control" />
                <span asp-validation-for="CuslName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusNIC" class="control-label"></label>
                <input asp-for="CusNIC" class="form-control" />
                <span asp-validation-for="CusNIC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusAddress" class="control-label"></label>
                <textarea asp-for="CusAddress" class="form-control"></textarea>
                <span asp-validation-for="CusAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusContact" class="control-label"></label>
                <input asp-for="CusContact" class="form-control" />
                <span asp-validation-for="CusContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusEmail" class="control-label"></label>
                <input asp-for="CusEmail" class="form-control" />
                <span asp-validation-for="CusEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusPassw" class="control-label"></label>
                <input asp-for="CusPassw" class="form-control" value="@ViewBag.Passw"/>
                <span asp-validation-for="CusPassw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusStatus" class="control-label"></label>
                <input asp-for="CusStatus" class="form-control" />
                <span asp-validation-for="CusStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
