@model LaundryMS_AD2.Models.CustomerModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>CustomerModel</h4>
<hr />
<div class="container-fluid">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="col">
                <div class="form-group row">
                    <label asp-for="CusID" class="col-md-1 col-form-label control-label"></label>
                    <div class="col-11">
                        <input asp-for="CusID" class="form-control" readonly />
                        <span asp-validation-for="CusID" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group row">
                    <label asp-for="CusfName" class="col-md-2 col-form-labelcontrol-label"></label>
                    <div class="col-10">
                        <input asp-for="CusfName" class="form-control" />
                        <span asp-validation-for="CusfName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group row">
                    <label asp-for="CuslName" class="col-md-2 col-form-label control-label"></label>
                    <div class="col-10">
                        <input asp-for="CuslName" class="form-control" />
                        <span asp-validation-for="CuslName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group row">
                    <label asp-for="CusAddress" class="col-md col-form-label control-label"></label>
                    <div class="col-10">
                        <textarea asp-for="CusAddress" class="form-control"></textarea>
                        <span asp-validation-for="CusAddress" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group row">

                    <label asp-for="CusNIC" class="col-md-2 col-form-label control-label"></label>
                    <div class="col-10">
                        <input asp-for="CusNIC" class="form-control" />
                        <span asp-validation-for="CusNIC" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group row">
                    <label asp-for="CusGender" class="col-md col-form-label control-label"></label>
                    <div class="col-10">
                        <select asp-for="CusGender" class="form-control">
                            <option value="">--Select Customer Gender--</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <span asp-validation-for="CusGender" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group row">
                    <label asp-for="CusContact" class="col-md col-form-label control-label"></label>
                    <div class="col-10">
                        <input asp-for="CusContact" class="form-control" />
                        <span asp-validation-for="CusContact" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group row">
                    <label asp-for="CusEmail" class="col-md col-form-label control-label"></label>
                    <div class="col-10">
                        <input asp-for="CusEmail" class="form-control" />
                        <span asp-validation-for="CusEmail" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group row">
                    <label asp-for="CusPassw" class="col-md col-form-label control-label"></label>
                    <div class="col-10">
                        <input asp-for="CusPassw" id="Password2" value="@Model.CusPassw" class="form-control" />
                        <span asp-validation-for="CusPassw" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group row">
                    <label asp-for="CusPassw" class="col-md-2 col-form-label col-form-label-md"></label>

                    <div class="col-10">
                        <input asp-for="CusPassw" id="Password" value="@Model.CusPassw" class="form-control" />
                        <div class="form-check-inline pl-2">
                            <input type="checkbox" class="form-check-input" id="PassVisible">
                            <label class="form-check-label">Password visible</label>
                        </div>
                        <span asp-validation-for="CusPassw" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group row">
                    <label asp-for="CusStatus" class="col-md col-form-label control-label"></label>
                    <div class="col-10">
                        <select asp-for="CusStatus" class="form-control">
                            <option value="">--Select Customer Status--</option>
                            <option value="Active">Active</option>
                            <option value="InActive">InActive</option>
                        </select>
                        <span asp-validation-for="CusStatus" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row mt-5">
            <div class="col">

            </div>
            <div class="col">
                @*<input type="submit" value="Save" class="btn-block btn-primary form-control" />*@
                <input type="submit" value="Edit" class="btn-block btn-primary form-control" />

            </div>
            <div class="col mt-2">
                <a asp-action="Index" class="pl-5">Back to List</a>

            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
